# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Next.js Build Output
.next/
**/ .next/
out/

# Nest.js / TypeScript Build Output
dist/
**/dist/
*.tsbuildinfo
next-env.d.ts

# Production Build
build/
**/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env*
!.env.example
**/.env
**/.env*

# OS Files
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

# Prisma
/server/prisma/migrations/
/server/data/
server/prisma/generated/
